.nav{
background-color: rgb(223, 223, 206);
margin: 0px;
box-sizing: border-box;
height: 60px;
}
.bar{
    display: inline;
    width: 180px;
}
.ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    display: inline;
    font-weight: bold;
    color: #273c75;
}
.im{
    display: inline;
}
.li{
    display: inline;
    margin-left: 
}